* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
}

.parallax-1 {
	background-image: url("../img/img_a.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-2 {
	background-image: url("../img/img_b.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}

.parallax-3 {
	background-image: url("../img/img_c.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.slide {
	background-color: #ffffff;
	height: 600px;
}

.slide-head {
	background-color: #ffffff;
	height: 100px;
	text-align: center;
}

.post-it-1 {
	float:left;
	width: 30%;
	height: 40%;
	margin: 5%;
	padding: 8% 3%;
	border-radius: 5px;
	background: #89ACC2;
	box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.meet-text {
	float: right;
	width:50%;
	padding: 5%;
	margin: 0% 5%;
	font-size: 1.4em;
}

.post-it-2 {
	float: right;
	width: 30%;
	height: 40%;
	margin: 5%;
	padding: 8% 3%;
	border-radius: 5px;
	background-color: #6FA2AF;
	box-shadow: 0 0 8px rgba(0, 0, 0, .7); 
}

.post-it-heading {
	text-align: center;
	color: #FFFFFF;
}